<div class="row">
  <div class="col-xs-12">
    <h3>All Books</h3>
  </div>
  <div class="col-xs-12">
    <div *ngFor="let book of bookService.books">
      <div class="book">
        <img [src]="book.thumbnail" [alt]="book.title">
        <div *ngIf="authService.loggedIn()">
          <button *ngIf="book.owner!=authService.getEmail() && !bookService.isRequested(book)" class="btn btn-block btn-default" (click)="onRequestBook(book)">Request</button>
          <button *ngIf="book.owner!=authService.getEmail() && bookService.isRequested(book)" class="btn btn-block btn-success" (click)="onRequestBook(book)">Requested</button>
          <button *ngIf="book.owner==authService.getEmail()" class="btn btn-block btn-default" disabled>Yours</button>
        </div>
      </div>
    </div>
  </div>
</div>
  
