<div class="col-xs-12">
  <h3>Requested By You</h3>

  <div *ngFor="let request of bookService.requests | filterBy:'requestedBy':authService.getEmail()">
    <div class="request">
      <img [src]="request.thumbnail" [alt]="request.title">
      <button class="btn btn-block btn-danger" (click)="onRemoveRequest(request)">Remove</button>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <hr>
  <h3>Requested From You</h3>

  <div *ngFor="let request of bookService.requests | filterBy:'owner':authService.getEmail()">
    <div class="request">
      <img [src]="request.thumbnail" [alt]="request.title">
      <button class="btn btn-block btn-info" (click)="onAcceptRequest(request)">Accept</button>
    </div>
  </div>
</div>