.request{
  float: left;
  height: 180px;
  width: 128px;
  overflow: hidden;
  margin: 3px;
  border: 2px solid white;
  border-radius: 2px;
}

.request img{
  width: 128px;
  height: 180px;
  z-index: 0;
}

.request .btn{
  position: relative;
  top: -40px;
  z-index: 1;
  border-radius: 0;
  opacity: 0.9;
}
